.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttons {
  flex-wrap: nowrap;
  min-width: 50px;
}

.button {
  padding: 0;
  border: none;
  background: none;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.colorDropdownWrapper {
  display: inline-block;
}

.colorDropdown {
  cursor: pointer;
}

.selectedColor {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}

.dropdownList {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownList li {
  padding: 5px;
  cursor: pointer;
}

.dropdownList li:hover {
  background-color: #f1f1f1;
}

.colorDropdownWrapper:hover .dropdownList {
  display: block;
}
