.container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.main {
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.title {
  background-color: #273852;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 50px 0 39px 0;
  font-size: 2.5em;
}

.content {
  padding: 30px 55px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form h2 {
  text-align: center;
  font-size: 1.7em;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.button {
  background-color: #29dd29;
  border: none;
}

.exampleButton {
  background-color: #e1f100;
  border: none;
}

.button:hover {
  background-color: #83ed83;
}

.authFooter {
  margin: 50px 0 0 0;
  text-align: center;
}
